<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%- include ('partials/head')%>
    <title><%= title%></title>
</head>

<%- include ('partials/navigation.ejs')%>
<h1>esta es la pagina about</h1>

<main class="container vh-100 pt-2 text-center d-flex justify-content-center align-items-center">
    <section>
        <h1 class="display-1 d-flex justify-content-center">About</h1>
        <p class="d-flex justify-content-center">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Minima, 
            harum dolor magnam at commodi voluptate. At debitis maiores officia, in
             facilis molestias excepturi reiciendis deserunt similique pariatur ipsa 
             aperiam aut.
             Lorem, ipsum dolor sit amet consectetur adipisicing elit. Dolorum culpa veniam
              temporibus consequuntur. Dolores suscipit omnis, non ipsa porro cum quo nemo 
              perspiciatis. Culpa aperiam similique necessitatibus ea maxime aspernatur.
        </p>
    </section>
</main>

<body>
<%- include ('partials/footer') %>   
</body>
</html>


