<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%- include ('partials/head')%>
    <title><%- title%></title>
</head>

<%- include ('partials/navigation')%>
<h1>esta es la pagina contacto</h1>


<body>
    
</body>
</html>

