<footer>
    <h1>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ex quibusdam, est saepe sequi doloremque ab voluptates quaerat sunt tenetur cupiditate iusto dicta magni, ad ullam labore accusamus deserunt laboriosam dolore.</h1>
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Corrupti, nam ad? Labore perferendis mollitia facere dolorem debitis optio voluptate sapiente, voluptatem aperiam sequi reiciendis, doloribus dicta, rerum voluptatum non explicabo.</p>
</footer>